# Anonyms Function

Function without name,Multiple argument single expression remember it will work only one function

Syntax :
        Function object = keyword argument:expression
        
        f = lambda a : a * a

In [1]:
# normLLY in function Squaring the numbers
def sq(a):
    return a*a
res = sq(2)
print(res)

4

In [2]:
#Using anonyms function squares the number
f = lambda a : a*a
print(f(5))

25

In [4]:
#Using anonyms function subracting  the number
f = lambda a,b : a-b
print(f(5,2))

3

## Filter

we can use the filter method with a combination of a lambda function to filter out items from the list.

Syntax:Filter(function,iterable(sequence)

In [11]:
# filter the scores of the student using filter function in noraml function

scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def check(score):
    return score > 75 
over_75 = list(filter(check,scores))
print(over_75)

[90, 76, 88, 81]

In [9]:
# filter the scores of the student using filter function in anonyms function

scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

over_75 = list(filter(lambda n:n > 75,scores))
print(over_75)

[90, 76, 88, 81]

In [13]:
#filter the even number in the list using noraml function
num = list(range(1,21))

def evens(n):
    return n%2 == 0
res = list(filter(evens,num))
print(res)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
#filter the even number in the list using noraml function
num = list(range(1,21))
even_num= list(filter(lambda n:n%2 == 0,num))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Map

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

Synatx:map(function, iterables)

In [17]:
#multiply 2 into each list items using function
num = list(range(1,21))
def update(n):
    return n*2
res = list(map(update,num))
print(res)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [19]:
#multiply 2 into each list items using anonyms function
num = list(range(1,21))
double_lstitem = list(map(lambda n : n*2,num))
print(double_lstitem)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [22]:
# zip to list of elements usinf anonyms function
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]
f = list(map(lambda x,y :(x,y),my_strings,my_numbers))
print(f)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

## Reduce

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

In [24]:
#importing reduce from functools
from functools import reduce
# adding all the elements in double_lstitem using reduce by normal function
def all_adder(a,b):
    return a+b
res = reduce(all_adder,double_lstitem)
print(res)

420

In [25]:
# adding all the elements in double_lstitem using reduce by anonyms function

all_adder = reduce(lambda x,y : x+y,double_lstitem)
print(all_adder)

420